@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

}

* {
    margin: 0;


}

.row {
    margin: 0;
}

.container {
    padding: 0;

}

header {
    height: 64px;
    max-width: 100vw;
}

header .userImg {
    height: 100%;
    position: relative;
    padding: 0 6%;
}

header .user {
    height: 32px;
    width: 32px;
    display: block;
    position: absolute;
    top: 28%;
}

header .bbc {
    height: 32px;
    position: absolute;
    top: 25%;
    left: 37%;
}

header .bbcImg {
    width: 46%;
    height: 100%;
    position: relative;
}

header .searchImg {
    height: 100%;
    position: relative;
}

header .search {
    width: 28px;
    height: 29px;
    position: absolute;
    left: 52%;
    top: -72%;
}

header .menuImg {
    height: 100%;
    position: relative;
}

header .menu {
    width: 24px;
    height: 22px;
    position: absolute;
    top: 33%;
    left: -9%;
}

.newsBlock {
    height: 56px;
    background: #b80000;
    margin: 0;
}

.news {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: white;
    margin: 1% auto 0 2%;
}

.btnImg {
    width: 26px;
    height: 26px;
    filter: invert(99%) sepia(4%) saturate(551%) hue-rotate(217deg) brightness(116%) contrast(87%);
    margin: -18% 0 0 90%;
}

.title {
    width: 100%;
    text-align: left;
    justify-content: center;
}

.h1Text {
    display: block;
    font-size: 20px;
    width: 100%;
    font-family: 'Montserrat Serif', sans-serif;
    padding: 5% 8% 5% 10%;

}

.brain {
    max-width: 100%;
    padding: 0 20px;
    margin: 0;
}


p {
    font-weight: 500;
    font-family: "Montserrat", Arial, sans-serif;
    padding: 10% 12% 0 12%;
    line-height: 25px;
}

footer {
    background-color: #4c4c4c;
}

ul {
    width: content-box;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 10px;
    text-align: left;
    padding: 0;

}

ul li {
    list-style-type: none;
    padding: 5px;
    margin: 6px auto;
    height: 30px;
}

.ulBox {
    display: flex;
}

.taper {
    display: block;
    width: 200px;
    height: 49px;
    background-color: #b80000;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    margin: 10% 0 0 12%;
    text-align: center;
    text-decoration: none;
}

.spaner {
    display: block;
    padding: 10px;
    color: white;
}

.h4text {
    margin-top: 3px;
    color: white;
    padding: 3px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 15px;
}

.comments {
    overflow: auto;
    height: 500px;
}

.countComments {
    text-align: center;
    margin-bottom: 30px;
}

.commentContainer {
    display: flex;
    margin-top: 20px;
}

.name {
    margin: 0 0 0 20px;
    padding: 0;
    color: #909092;
    font-size: 12px;
    font-family: 'Asap', sans-serif;
}

.text {
    margin: 0 0 0 20px;
    padding: 0;
    font-family: "Asap", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #565555;
    line-height: 15px;
}

.addComment {
    margin-top: 20px;
    font-size: 16px;
    background-color: #f1f1f1;
    border-radius: 6px;
    padding: 10px 14px;
    border: none;
    width: 100%;
    min-height: 30px;
    outline: none;
}

.send {
    width: 35px;
    height: 35px;
    margin: 23px 0 0 15px;
    display: none;
}



.photo {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;

}

.butLike {
    outline: none;
    border: none;
    background: none;
}

.like {

    display: block;
    width: 18px;
    height: 18px;
    margin: 0 auto;
    background: no-repeat;
}

.numLikes {
    text-align: center;
    font-size: 12px;
    padding: 0;
}

.filter {
    filter: invert(14%) sepia(98%) saturate(7494%) hue-rotate(0deg) brightness(111%) contrast(106%);
}

.likeStatistic {
    width: 100%;
    height: 50px;
}

#Pop-up {
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: black;
    opacity: 0.9;
    bottom: -100%;
    transition: bottom 0.5s ease-in-out;
}

.username {
    display: block;
    margin: 40vh auto 0 auto;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
}

.message {
    display: block;
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
}

input[type=file] {
    margin: 5% 10% ;
}

.sendMessage {
    display: block;
    margin: 0 auto;
    width: 40%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
}


.active {
    display: block;
}

#Pop-up.activeForm {
    bottom: 0;

}

